.header {
  @extend %list;
  @media screen and(min-width:768px) {
    padding: 21px 0;
    margin-left: 88px;
  }

  @media screen and(min-width:1200px) {
    display: flex;
    margin-left: 305px;
    & .item:not(:last-child) {
      margin-right: 30px;
    }
  }

  align-items: center;
}

.flex-icon {
  display: flex;
  align-items: center;
  fill: $primary-text-color;
  color: $primary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-envelop {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.item-mobile {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header .link {
  @media screen and (max-width: 767px) {
    display: inline-block;
  }
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $primary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &:focus {
    outline-style: solid;
    outline-color: $black;
  }
}
.header .item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (max-width: 1100px) {
    margin-bottom: 10px;
  }
}
