.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    & .modal {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}



.backdrop {
  @media screen and (max-width: 767px) {
    padding: 94px 15px;
    overflow-y: scroll;
  }
}

.modal {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
  }

  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  display: block;
  fill: $black;

  border-radius: 50%;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    top: 101px;
    right: 23px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 11px;
  height: 11px;
  fill: $black;

  .btn-modal:hover > & {
    fill: $accent-color;
  }
  .btn-modal:focus > & {
    fill: $accent-color;
  }
}

.form {
  width: 100%;
  height: 100%;
}

.form-contact {
  // position: absolute;
  top: 40px;
  left: 40px;
  width: 448px;
  height: 23px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-text-color;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
  top: 54px;
  left: 0;
  width: 100%;

  &:focus-within > .icon {
    fill: $accent-color;
  }
}

.form-label {
  @extend %text-styles-modal;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-108%);
  min-width: 25px;
  min-height: 14px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 10px;
  padding-left: 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $accent-color;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: $title-text-color;
}

.comment {
  @extend %text-styles-modal;

  position: relative;
  display: block;
  top: 37px;
  left: 0;
  width: 100%;
}

.textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 40px;
  margin-bottom: 20px;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    border: 1px solid $accent-color;
    box-sizing: border-box;
    border-radius: 4px;
  }
  &::placeholder {
    @extend %text-styles-modal;

    color: rgba(117, 117, 117, 0.5);
  }
}
.form-button {
  margin: 0 144px;
  border: transparent;
  border-radius: 4px;
  margin-top: 30px;

  @media screen and(max-width:767px) {
    margin: 0 100px;
    margin-top: 30px;
  }
}

.policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $primary-text-color;
  @media screen and(max-width:767px) {
    line-height: 1.17;
    font-size: 12px;
  }
}
.policy-link {
  margin-left: 4px;
  color: $accent-color;
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .policy-icon {
    background-color: $accent-color;
    border: $accent-color;
    background-image: url(../images/full-check.svg);
    background-origin: border-box;
    background-size: contain;
  }
}

.policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid $title-text-color;
  border-radius: 2px;
  @media screen and (min-width: 768px) {
    margin-right: 5px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 7px;
  }
}
