$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #f5f4fa;
$white-color: #ffffff;
$social-color: #afb1b8;
$bg-section: #e5e5e5;
$black: #000000;
$footer: #2f303a;
$border: #eeeeee;

$fontRoboto: Roboto, sans-serif;

$fontRaleway: Raleway, sans-serif;
